@import url(https://fonts.googleapis.com/css?family=Arsenal:400);body {
  color: #444444;
  font-family: 'Arsenal';
  font-weight: 800;
}

/*
 * Global add-ons
 */

.container-fluid {
  padding-top: 15px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */

.sidebar {
  display: none;
}

/*
 * Tables
 */

.table-header {
  vertical-align: middle;
  margin-bottom: 15px;
}

.table-header .title {
  font-size: 1.8em;
  font-weight: 800;
}

tr.dim {
  filter: alpha(opacity=40);
  /* internet explorer */
  -khtml-opacity: 0.4;
  /* khtml, old safari */
  -moz-opacity: 0.4;
  /* mozilla, netscape */
  opacity: 0.4;
  /* fx, safari, opera */
}

th {
  font-weight: 800;
  font-size: 1.3em;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

/*
 * Links
 */

a.file {
  color: #e75b68;
}

a:hover.file {
  color: #73dbff;
}

/*
 * Projects
 */

.projects-title {
  color: #fdfdfd;
  text-transform: lowercase;
  font-weight: 800;
  font-size: 1.8em;
}

.card-projects {
  margin-bottom: 15px;
  background-color: #444444;
  padding: 10px;
}

.list-group-item {
  cursor: pointer;
  font-weight: 800;
}

list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #2654b2;
  border-color: #2654b2;
}

/*
 * Modals
 */

.modal-lg {
  max-width: 80% !important;
  max-height: 80% !important;
}

.modal-scroll {
  height: 650px;
  overflow-y: auto;
  margin-top: 15px;
  padding: 15px;
}

.terminal {
  background-color: #000000;
}

h1,
h2,
h3 {
  font-weight: 800;
}

/*
 * Buttons
 */

.btn {
  padding: 3px 6px;
}

/*
 * Navbar
 */

.navbar {
  border-radius: 0px !important;
  margin-bottom: 0px !important;
}

.navbar-inverse {
  background-color: #2654b2;
  border-color: #2654b2;
}

.navbar-inverse .navbar-brand {
  color: #fdfdfd;
}

/*
 * Toolbar
 */

.toolbar {
  background-color: #e9ecee;
  height: 60px;
  padding: 15px;
  vertical-align: middle;
  border: 1px;
  border-color: #ccd3d8;
  border-style: solid;
}

/*
 * Toolbar
 */

.btn-square {
  height: 30px;
  width: auto;
  padding: 5px;
  vertical-align: middle;
  padding-left: 10px;
}

/*
 * Search
 */

.search-group {
  padding: 5px;
  margin-top: -9px;
  width: 100%;
}

.search-addon {
  background-color: #2654b2;
  color: #fdfdfd;
}

/*
 * Placeholder
 */

::-webkit-input-placeholder {
  color: white;
  opacity: 0.3;
}

:-moz-placeholder {
  color: white;
  opacity: 0.3;
}

::-moz-placeholder {
  color: white;
  opacity: 0.3;
}

:-ms-input-placeholder {
  color: white;
  opacity: 0.3;
}

/*
 * State
 */

.state {
  color: #fdfdfd;
}

.state-failed {
  background-color: #e75b68;
}

.state-running {
  background-color: #94b3d1;
}

.state-ok {
  background-color: #a3c98d;
}

.state-disabled {
  background-color: white;
  color: #444444;
}

.state-idle {
  background-color: #aaaaaa;
}

.state-queued {
  background-color: white;
  color: #444444;
}

.label {
  padding: 0.6em .8em .7em;
}

.screenshot {
  width: 98%;
}

.table-test-name {
  font-weight: 700 !important;
  color: #000000;
}

.table-test-path {
  font-weight: 100 !important;
  color: #ccd3d8;
}

.table-link {
  cursor: pointer;
}

